@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html {
    height:100%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
	background: #224941 url('https://i.ibb.co/4pxdb3b/bg.jpg') no-repeat center center/cover;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}